<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Display</title>
</head>
<body>
    <h1>Displaying Image: {{.}}</h1>

    <!-- <script> -->
    <!--     const socket = new WebSocket('ws://localhost:3000/ws'); -->
    <!---->
    <!--     socket.addEventListener('open', function (event) { -->
    <!--         socket.send('Hello Server!'); -->
    <!--     }); -->
    <!---->
    <!--     socket.addEventListener('message', function (event) { -->
    <!--         document.getElementById('message').innerText = 'Message from server: ' + event.data; -->
    <!--     }); -->
    <!---->
    <!--     socket.addEventListener('close', function (event) { -->
    <!--         console.log('The connection has been closed.'); -->
    <!--     }); -->
    <!---->
    <!--     socket.addEventListener('error', function (event) { -->
    <!--         console.error('WebSocket error observed:', event); -->
    <!--     }); -->
    <!-- </script> -->

    <!-- programで置き換えられる -->
    <img src="{{.}}" alt="Image">
</body>
</html>

